<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.testing.launchConfig">
<stringAttribute key="mainScript" value="lib/Audit/Audit.rb"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.dltk.testing.CONTAINER" value=""/>
<stringAttribute key="org.eclipse.dltk.testing.engineId" value="org.eclipse.dltk.ruby.testing.testunit"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="workingDir" value="${workspace_loc:gov.nasa.jpl.imce.ontologies}"/>
</launchConfiguration>
