<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value="tools/run-audits-jena"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/run-audits-jena"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GEM_PATH" value="${GEM_PATH}"/>
<mapEntry key="RUBYLIB" value="../lib/OntologyBundles:../lib/Makefile:../lib/Application:../lib/Jena:../lib/ruby-jena:../lib/IMCE:../lib/ruby-owlapi:../lib/OWLAPI:../lib/Audit"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/data/Audit/demo}/demo.xml"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="--fatal --host ${JENA_HOST} --port ${JENA_GEOGRAPHY_PORT} --dataset ${JENA_GEOGRAPHY_DATASET} --prefix-file ${resource_loc:/gov.nasa.jpl.imce.ontologies/data/Audit/demo/.prefixes.yaml} --audit-dir ${resource_loc:/gov.nasa.jpl.imce.ontologies/data/Audit/demo} http://www.mooney.net/geo http://www.mooney.net/geo/entailments"/>
<stringAttribute key="workingDir" value="${workspace_loc:gov.nasa.jpl.imce.ontologies/ontologies}"/>
</launchConfiguration>
