<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value="tools/load-jena"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/load-jena"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CLASSPATH" value="${container_loc:/gov.nasa.jpl.imce.ontologies/lib/Jena/jena-core-2.10.1.jar}"/>
<mapEntry key="JENA_DATASET" value="${JENA_DATASET}"/>
<mapEntry key="JENA_HOST" value="${JENA_HOST}"/>
<mapEntry key="JENA_PORT" value="${JENA_PORT}"/>
<mapEntry key="RUBYLIB" value="${container_loc:/gov.nasa.jpl.imce.ontologies/lib/Application/SesameApplication.rb}:${container_loc:/gov.nasa.jpl.imce.ontologies/lib/Audit/Audit.rb}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/logs}/load-jena.log"/>
<stringAttribute key="org.eclipse.dltk.launching.INTERPRETER_CONTAINER" value="org.eclipse.dltk.launching.INTERPRETER_CONTAINER/org.eclipse.dltk.ruby.internal.launching.JRubyInstallType/rvm jruby-1.7.4"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="--info --host ${JENA_HOST} --port ${JENA_PORT} --dataset ${JENA_DATASET} --prefix mission --uri http://imce.jpl.nasa.gov/foundation/mission/mission --backbone-prefix mission-backbone --backbone-uri http://imce.jpl.nasa.gov/backbone/imce.jpl.nasa.gov/foundation/mission/mission ${resource_loc:/gov.nasa.jpl.imce.ontologies/ontologies/imce.jpl.nasa.gov/foundation/mission/mission.owl}"/>
<stringAttribute key="workingDir" value="${workspace_loc:gov.nasa.jpl.imce.ontologies/ontologies}"/>
</launchConfiguration>
