<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value="tools/analyze-makefile"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/analyze-makefile"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GRAPHVIZ_PATH" value="${GRAPHVIZ_PATH}"/>
<mapEntry key="RUBYOPT" value="-rubygems"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="&quot;${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/Makefile}&quot; &quot;${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/.dependencies}&quot; &quot;${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/.validation-dependencies}&quot;"/>
<stringAttribute key="workingDir" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies}"/>
</launchConfiguration>
