<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value="tools/graph-dependencies"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/graph-dependencies"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DOT" value="fdp"/>
<mapEntry key="PATH" value="${env_var:PATH}:${GRAPHVIZ_PATH}"/>
<mapEntry key="RUBYLIB" value="../lib/OntologyBundles"/>
<mapEntry key="RUBYOPT" value="-rubygems"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/logs}/graph-dependencies.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="${SESAME_HOST} --bundles ${ONTOLOGY_BUNDLES_SERIALIZED_FILE} --groups ${ONTOLOGY_GROUPS_SERIALIZED_FILE} --parts ${ONTOLOGY_PARTS_SERIALIZED_FILE} --imports ${IMPORTS_GRAPH_FILE} --debug"/>
<stringAttribute key="workingDir" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies}"/>
</launchConfiguration>
