<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<booleanAttribute key="enableBreakOnFirstLine" value="false"/>
<booleanAttribute key="enableDbgpLogging" value="false"/>
<stringAttribute key="mainScript" value="tools/bundle-axiom-census"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/bundle-axiom-census"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="RUBYLIB" value="../lib/OntologyBundles:../lib/Makefile:../lib/Application:../lib/Jena:../lib/ruby-jena:../lib/IMCE:../lib/ruby-owlapi:../lib/OWLAPI"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies/logs}/bundle-axiom-census.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.dltk.launching.INTERPRETER_CONTAINER" value="org.eclipse.dltk.launching.INTERPRETER_CONTAINER/org.eclipse.dltk.ruby.internal.launching.JRubyInstallType/rvm jruby-1.7.4"/>
<booleanAttribute key="org.eclipse.dltk.launching.debugConsole" value="true"/>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="${string_prompt:bundle IRI:http://imce.jpl.nasa.gov/foundation/project/project-bundle-embedding}"/>
<stringAttribute key="workingDir" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/ontologies}"/>
</launchConfiguration>
