<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType">
<stringAttribute key="mainScript" value="tools/extract-export"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies/tools/extract-export"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GEM_PATH" value="${GEM_PATH}"/>
<mapEntry key="RUBYLIB" value="../lib/Application:../lib/Audit:../lib/IMCE:../lib/Jena:../lib/Makefile:../lib/OWLAPI:../lib/OntologyBundles:../lib/Pellet:../lib/ruby-jena:../lib/ruby-owlapi:../lib/ruby-pellet:../lib/JGraphT"/>
<mapEntry key="RUBYOPT" value="-r rubygems"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/exports/logs}/extract-archive.log"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="scriptArguments" value="--artifacts-dir artifacts &quot;${file_prompt}&quot;"/>
<stringAttribute key="workingDir" value="${workspace_loc:/gov.nasa.jpl.imce.ontologies/exports}"/>
</launchConfiguration>
