<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.testing.launchConfig">
<stringAttribute key="mainScript" value="lib/Audit/JenaAudit.rb"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gov.nasa.jpl.imce.ontologies"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="RUBYLIB" value="${container_loc:/gov.nasa.jpl.imce.ontologies/lib/Jena/commons-codec-1.6.jar}:${container_loc:/gov.nasa.jpl.imce.ontologies/lib/Application/JenaApplication.rb}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.dltk.launching.INTERPRETER_CONTAINER" value="org.eclipse.dltk.launching.INTERPRETER_CONTAINER/org.eclipse.dltk.ruby.internal.launching.JRubyInstallType/rvm jruby-1.7.4"/>
<stringAttribute key="org.eclipse.dltk.testing.CONTAINER" value=""/>
<stringAttribute key="org.eclipse.dltk.testing.engineId" value="org.eclipse.dltk.ruby.testing.testunit"/>
<stringAttribute key="project" value="gov.nasa.jpl.imce.ontologies"/>
<stringAttribute key="workingDir" value="${workspace_loc:gov.nasa.jpl.imce.ontologies}"/>
</launchConfiguration>
